<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="Content/css/bootstrap.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link rel="stylesheet" href="Content/css/styles.css">
    <title>Word Counter</title>
  </head>
  <div class="container">
    <div class="jumbotron">
      <h1 class="centered">Word Counter</h1>
    </div>
    <body class="centered">
      <h2>" @Model.GetSearchWord() " appears @Model.GetWordCount() times in the sentence : " @Model.GetSearchString() "</h2>
      <br>
      <a href="/"><button type="button" name="button" class="btn btn-lg">Back Home</button></a>
    </body>
  </div>
</html>
